* {
  font-family: Gilroy;
  margin: 0;
  padding: 0;
}

header {
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

header .part1 {
  float: left;
  color: #1FDBAE;
  font-weight: 600;
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

header .part2 {
  float: right;
  font-size: 16px;
  font-weight: 600;
  margin-top: 13px;
}

header .part2 .btnIdentifier {
  margin-left: 10px;
  background-color: #1FDBAE;
  color: white;
  cursor: pointer;
  height: 35px;
  width: 130px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

header .part2 .btnIdentifier:hover {
  background-color: rgba(117, 117, 117, 0.8);
}

header .part2 .btnIdentifier img {
  margin-right: 12px;
}

header .part2 a {
  text-decoration: none;
  color: #004348;
}

.espace {
  height: 80px;
  background-color: white;
}

.desc {
  width: 100%;
}

.desc div {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.desc div .p1 {
  width: 500px;
  color: #004348;
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.desc div .p2 {
  width: 500px;
  margin: auto;
  color: #004348;
  font-size: 20px;
  margin-bottom: 20px;
}

.desc div .btnConsulter {
  background-color: #1FDBAE;
  color: white;
  cursor: pointer;
  height: 35px;
  width: 130px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  height: 50px;
  width: 150px;
  font-size: 20px;
  border-radius: 20px;
}

.desc div .btnConsulter:hover {
  background-color: rgba(117, 117, 117, 0.8);
}

.formulaire {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 80%;
  margin: auto;
}

.formulaire p {
  text-align: center;
  color: #004348;
  font-weight: bold;
  font-size: 35px;
}

.formulaire form {
  width: 100%;
  height: 550px;
  background-color: #F6F9FC;
  border-radius: 10px;
}

.formulaire form .ligne {
  padding-top: 30px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formulaire form .ligne div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulaire form .ligne div label {
  font-size: 20px;
  font-weight: bold;
  color: #004348;
}

.formulaire form .ligne div input, .formulaire form .ligne div select {
  font-size: 20px;
  width: 450px;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: #E8EFF6;
  margin-top: 13px;
}

.formulaire form .ligne2 {
  width: 90%;
  margin: auto;
  padding-top: 30px;
}

.formulaire form .ligne2 div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulaire form .ligne2 div label {
  font-size: 20px;
  font-weight: bold;
  color: #004348;
}

.formulaire form .ligne2 div #message {
  font-size: 20px;
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 8px;
  background-color: #E8EFF6;
  margin-top: 13px;
}

.formulaire form .ligne2 .btnEnvoyer {
  margin-top: 30px;
  float: right;
  background-color: #1FDBAE;
  color: white;
  cursor: pointer;
  height: 35px;
  width: 130px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: #C5D7EA;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.formulaire form .ligne2 .btnEnvoyer:hover {
  background-color: rgba(117, 117, 117, 0.8);
}

@media only screen and (max-width: 1300px) {
  header {
    width: 98%;
  }
  header .part1 {
    font-size: 20px;
  }
  .desc div .p1, .desc div .p2 {
    width: 450px;
  }
  .formulaire form {
    height: 750px;
  }
  .formulaire form .ligne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formulaire form .ligne div input, .formulaire form .ligne div select {
    width: 350px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=Style.css.map */