$color : #1FDBAE;
$colorText  : #004348;
@mixin Btn {
    background-color: $color;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 130px; 
    border:none;
    border-radius: 10px;
    font-size: 16px;
    &:hover{
        background-color: rgba(117, 117, 117, 0.8);
    }
}
@mixin Center {
    justify-content: center;
    align-items: center;
    justify-items: center;
}

@mixin POPUP() {
    display: none;
    position: absolute;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.8); 
}

*{
    font-family: Gilroy;
    margin:0;
    padding: 0;
}

header{
    width: 90%;
    margin: auto;
    margin-top:10px;
    .part1{
        float: left;
        color: $color;
        font-weight: 600;
        font-size: 26px;
        display: flex;
        @include Center();
    }
    .part2{
        float: right;
        font-size: 16px;
        font-weight: 600;
        margin-top:13px;
        .btnIdentifier{
            margin-left: 10px;
            @include Btn();
            img{
                margin-right: 12px;
            }
        }
        a{
            text-decoration: none;
            color: $colorText;
        }
    }
}
.espace{
    height:80px;
    background-color: white;
}
.desc{
    width: 100%;
    div{
        text-align: center;
        display: flex;
        flex-direction: column;   
        @include Center(); 
        .p1{
            animation-name: captionText;
            animation-duration: 2s;
            width: 500px;
            color: $colorText;
            font-weight: bold;
            font-size: 55px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }
        .p2{
            width: 500px;
            margin:auto;
            color: $colorText;
            font-size: 25px;
            margin-bottom: 20px;
        }
        .btnConsulter{
            @include Btn();
            height: 50px;
            width: 150px;
            font-size: 20px;
            border-radius: 20px;
        }
    }
    
}

@keyframes captionText{
    0%{
        opacity:0; transform: translateX(-100px);
    }
    100%{
        opacity:1; transform: translateX(0px);
    }
    
}
#inscription{ 
    @include POPUP();
    #f1{
        width:30%;
        margin:auto;
        margin-top:60px;
        background-color: white;
        border-radius: 20px;
        padding: 30px;
        p{
            text-align: center;
            font-weight: bold;
            font-size: 35px;
            letter-spacing: 1px;
        }
        hr{
            width: 110px;
            margin:auto;
            background-color: $color;
            height: 3px;
            border:none;
            margin-top:5px;
            margin-bottom: 40px;
        }
        div{  
            width:400px;
            margin: auto;
            margin-top:20px;
            display:flex;
            flex-direction: column;
            font-size: 20px;
            label{
                text-align: right;
            }
            input{
               font-size: 17px;
               padding-left: 6px;
               height:35px;
               border:none;
               border-radius: 8px;
               background-color: #E8EFF6;
               text-align: right;
            }
        }
        .BtnInscription{
            width:400px;
            margin: auto;
            margin-top:30px;
            input{
                @include Btn();
                border-radius: 20px;
                width: 100%;
                height:40px;
                font-size: 20px;
                text-align: center;
            }
        }
        div{   
            p{ 
                margin-top:20px;
                width:100%;
                font-weight: 1;
                font-size: 18px;
                text-align: center;
            }
        }
    }
}

#connexion{
    @include POPUP();
    #f2{
        width:28%;
        margin:auto;
        margin-top:100px;
        background-color: white;
        border-radius: 20px;
        padding: 30px;
       
        .imageLog{
            height: 100px;
            width: 100px;
            text-align: center;
            margin-top:-100px;
            margin-bottom:10px;
        }
        p{
            text-align: center;
            font-weight: bold;
            font-size: 35px;
            letter-spacing: 1px;
        }
        .lien{
            text-align: center;
            margin-top:40px;
            a{
                color:blue;
                font-weight: normal;
                font-size: 15px;
                letter-spacing: 0px;
            }
        }
        hr{
            width: 80px;
            margin:auto;
            background-color: $color;
            height: 3px;
            border:none;
            margin-top:5px;
            margin-bottom: 40px;
        }
        div{  
            width:380px;
            margin: auto;
            margin-top:10px;
            display:flex;
            flex-direction: column;
            font-size: 22px;
            color:#C0C0C0;
            input{
               font-size: 17px;
               height:  35px;
               border:none;
               border-bottom: 1px solid #C0C0C0;
               margin-top:40px;
               text-align: right;
            }
            #emailLog{
                margin-top:20px;
            }
        }
        .show{
            margin-top:20px;
            margin-right:20px;
            height:15px;
            width: 15px;
            float: right;
        }
        span{
            float: right;
            margin-top:20px;
            margin-right: 4px;
        }
        .BtnConnexion{
            width:400px;
            margin: auto;  
            input{
                @include Btn();
                border-radius: 20px;
                width: 80%;
                margin: auto;
                height:40px;
                font-size: 20px;
                margin-top:40px;
                text-align: center;
            }
        }
    }

}

.formulaire{
    @include Center();
    width:80%;
    margin:auto;
    p{
        text-align: center;
        color: $colorText;
        font-weight: bold;
        font-size: 35px;
    }
    form{
        width:100%;
        height: 550px;
        background-color: #F6F9FC;
        border-radius: 10px;
       .ligne{
           padding-top:30px;
           width: 90%;
           margin:auto;
           display: flex;
           justify-content: space-between;
           div{
               flex-direction: column;
               label{
                   font-size: 20px;
                   font-weight: bold;
                   color:$colorText;
                   float: right;
               }
               input, select{
                   font-size: 20px;
                   width:450px;
                   height:35px;
                   border:none;
                   border-radius: 8px;
                   background-color: #E8EFF6;
                   margin-top:13px;
                   text-align: right;
                   option{
                    text-align: right;
                   }
               }
           }
        }
        .ligne2{
            width: 90%;
           margin:auto;
            padding-top:30px;
            div{
                flex-direction: column;
                label{
                    font-size: 20px;
                    font-weight: bold;
                    float: right;
                    color:$colorText;
                }
                #message{
                    font-size: 20px;
                    width: 100%;
                    height:150px;
                    border:none;
                    border-radius: 8px;
                    background-color: #E8EFF6;
                    margin-top:13px;
                    text-align: right;
                }
           }
           .btnEnvoyer{
            margin-top:30px;
            float: right;
            @include Btn();
            background-color: #C5D7EA;
            color:white;
            font-weight: bold;
            font-size: 20px;
        }
        }
        
        
    }
}


@media only screen and (max-width: 1300px){
    header{
        width: 98%;
        .part1{
            font-size: 20px;
        }
    }
    .desc{
        div{
            .p1,.p2{
                width: 450px;
            }
        }
    }
    .formulaire{
        form{
            height: 750px;////////////////////////
            .ligne{
                flex-direction: column;///////////////////////////
                div{
                    input, select{
                        width: 350px;
                        margin-bottom:20px;///////////////////////
                    }
                }
            }
        }
    }
}